.backup {
  width: 30.5px;
  height: 31.65px;
}

.chip {
  width: 31.22px;
  height: 30.95px;
}

.cloud-access {
  width: 39.47px;
  height: 25.94px;
}

.cloud-computing {
  width: 33.24px;
  height: 30.82px;
}

.cloud-security {
  width: 36.7px;
  height: 29.94px;
}

.clouds {
  width: 40.02px;
  height: 25.78px;
}

.code {
  width: 104.21px;
  height: 83.41px;
}

.connection {
  width: 37.93px;
  height: 31.14px;
}

.data-sharing {
  width: 32.64px;
  height: 30.03px;
}

.dummy {
  width: 40px;
  height: 35px;
}

.encryption {
  width: 28.19px;
  height: 27.7px;
}

.information {
  width: 30.61px;
  height: 30.38px;
}

.migration {
  width: 30.63px;
  height: 31.83px;
}

.mobile {
  width: 20.12px;
  height: 31.46px;
}

.network {
  width: 31.68px;
  height: 31.62px;
}

.preferences {
  width: 36.27px;
  height: 34.1px;
}

.remote-access {
  width: 34.22px;
  height: 28.84px;
}

.search {
  width: 33.62px;
  height: 34.43px;
}

.server {
  width: 22.93px;
  height: 31.62px;
}

.settings {
  width: 34.95px;
  height: 27.06px;
}

.thin-24hour {
  width: 104.98px;
  height: 97.48px;
}

.thin-cloud-computing {
  width: 115.47px;
  height: 106.36px;
}

.thin-cloud-technology {
  width: 115.47px;
  height: 93.32px;
}

.thin-cloud {
  width: 118.96px;
  height: 100.43px;
}

.thin-coding {
  width: 104.21px;
  height: 83.41px;
}

.thin-data-structure {
  width: 108px;
  height: 97px;
}

.thin-database {
  width: 78.31px;
  height: 92.15px;
}

.thin-earnings {
  width: 119.22px;
  height: 117.69px;
}

.thin-export {
  width: 89.17px;
  height: 97px;
}

.thin-file-access {
  width: 118.98px;
  height: 96.86px;
}

.thin-folder-network {
  width: 99.13px;
  height: 101px;
}

.thin-hardware {
  width: 97px;
  height: 97px;
}

.thin-local-network {
  width: 150.6px;
  height: 102.5px;
}

.thin-network-protection {
  width: 89.44px;
  height: 97.08px;
}

.thin-network {
  width: 151.05px;
  height: 97px;
}

.thin-optimisation {
  width: 120.9px;
  height: 96.91px;
}

.thin-protection {
  width: 118.98px;
  height: 90.09px;
}

.thin-server-error {
  width: 104.21px;
  height: 83.41px;
}

.thin-server {
  width: 94px;
  height: 100.61px;
}

.thin-settings {
  width: 97.08px;
  height: 97.08px;
}

.thin-speed {
  width: 97.08px;
  height: 97.08px;
}

.thin-ssd {
  width: 70.94px;
  height: 97px;
}

.thin-ssl {
  width: 85.59px;
  height: 108.38px;
}

.thin-web-tools {
  width: 97.09px;
  height: 96px;
}

.thin-wireless-antenna {
  width: 70.05px;
  height: 102px;
}

.tools {
  width: 30.63px;
  height: 30.63px;
}

