.blog-card {
	
	@include mode('global') {
		
		@extend %flex-wrapper--column;
		
		box-shadow: -5px 0px 10px 0 rgba(0, 0, 0, 0.09);
		border-radius: 10px;
		overflow: hidden;
		margin-bottom: $gutter--quadruple;
		
		&__image {
			
			overflow: hidden;
			max-height: 200px;
			
			img {
				object-fit: cover;
			}
			
		}
		
		&__heading {
			@extend %flex-wrapper;
			position: relative;
			
			&__date {
				display: inline-block;
				margin-top: 5px;
				margin-bottom: $gutter--mini;
			}
			
			&__title {
				display: inline-block;
				vertical-align: top;
				padding-left: $gutter--mini;
				color: $black;
				text-decoration: none;
				
				&:hover{
					text-decoration: none;
				}
			}
		}
		
		&__body {
			
			position: relative;
			padding: $gutter--double $gutter--midi;
			
			@extend %box-gradient;
			
			&__meta {
				font-size: 12px;
				margin-bottom: 15px;
				
				&-name {
					color: $primary-color;
				}
			}
			
			&__text {
				
			}
			
			&__link {
				margin-top: $gutter--midi;
				text-align: right;
				
				a {
					color: $blue;
					
					&:hover {
						text-decoration: none;
					}
					
				}
				
			}
			
		}
		
	}
	
}