.blog-card{
	
	@include mode('global'){
		
		@extend %flex-wrapper--column;
		
		box-shadow: -5px 0px 10px 0 rgba(0, 0, 0, 0.09);
		border-radius: 10px;
		overflow: hidden;
		
		&__image{
			
            overflow: hidden;
            max-height: 200px;
			
			img{
				object-fit: cover;
			}
			
		}
		
		&__body{
            
            position: relative;
            padding: $gutter--double $gutter--midi;
            
            &__decor{
				justify-content: center;
				align-items: center;
				position: absolute;
				top: $gutter--double;
				left: $gutter--midi;
				
				height: 65px;
				width: 65px;
				border-radius: 5px;
				background: $primary-color;
				color: $white;
                z-index: 20;
                font-size: 36px;
                text-align: center;
				
				span{
					line-height: 1.2;
					word-spacing: 50px;
					text-align: center;
                    font-size: 17px;
                    display: block;
                    width: 100%;
                    margin: 4px 0;
                    font-weight: bold;
				}
			}
			
			&__heading{
                margin-bottom: $gutter--midi;
                padding-left: 95px;
            }
            
            &__meta {
                font-size: 12px;
                margin-bottom: 15px;

                &-name {
                    color: $primary-color;
                }
            }
			
			&__text{
			
			}
			
			&__link{
				margin-top: $gutter--midi;
				text-align: right;
				
				a{
					color: $blue;
					
					&:hover{
						text-decoration: none;
					}
					
				}
				
			}
			
		}
		
	}
	
}