.blog-card{
	
	@include mode('global'){
		
		@extend %flex-wrapper--column;
		
		box-shadow: -5px 0px 10px 0 rgba(0, 0, 0, 0.09);
		border-radius: 10px;
        overflow: hidden;
        margin-bottom: $gutter--quadruple;
		
		&__image{
			
            overflow: hidden;
            max-height: 200px;
			
			img{
				object-fit: cover;
			}
			
        }
        
        &__heading{
            position: relative;

            &__date {
                position: absolute;
                left: 0px;
                top: 5px;
            }

            &__title {
                padding-left: 90px;
            }
        }
		
		&__body{
            
            position: relative;
            padding: $gutter--double $gutter--midi;

            @extend %box-gradient;
            
            &__meta {
                font-size: 12px;
                margin-bottom: 15px;

                &-name {
                    color: $primary-color;
                }
            }
			
			&__text{
			
			}
			
			&__link{
				margin-top: $gutter--midi;
				text-align: right;
				
				a{
					color: $blue;
					
					&:hover{
						text-decoration: none;
					}
					
				}
				
			}
			
		}
		
	}
	
}