.button{
	
	@include mode('global'){
		
        @extend %transition-all;
        font-family: $base-font-family;
		
		display: inline-block;
		text-decoration: none;
		font-size: 16px;
		color: $white;
		background-color: $primary-color;
		padding: $gutter--mini $gutter--midi;
        border-radius: $gutter--midi;
        border: none;
        text-align: center;
        cursor: pointer;
		@extend %box-shadow-secondary;
		
		&:hover{
			background-color: $primary-color--light;
            color: $grey;
		}
		
		&--large{
			padding: $gutter--small $gutter--treble;
        }
        
        &--small {
            padding: 5px $gutter--treble;
        }
		
		&--white{
			color: $primary-color;
            background-color: $white;
            
            &:hover {
                color: $white;
                background-color: $primary-color--mid;
            }
        }
        
        &__text {

            @extend %transition-all;
            border-bottom: transparent solid 1px;
            text-decoration: none;

            &--blue {
                color: $primary-color;

                &:hover {
                    border-bottom: $primary-color solid 1px;
                }
            }

            &--white {
                color: $white;

                &:hover {
                    border-bottom: $white solid 1px;
                }
            }

        }
		
	}
	
}