.datepicker {
	
	@include mode('global') {
		
        display: inline-block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        overflow: visible;
        position: relative;
        top: -80px;

        &__buttons {
            overflow: visible;

            &__prev,
            &__next {
                @extend .button;
				
				width: 45px;
                height: 45px;
                line-height: 45px;
				position: relative;
				padding: 0 !important;
            }

            &__prev {
                float: left;
            }

            &__next {
                float: right;
            }

        }

        &__calendar {

            width: 100%;
            margin: $gutter--treble 0 0 0;

            &__head,
            &__foot {
                background: $blue;
                color: $white;
                padding: 5px 0;
                border: $white solid 1px;
            }

            &__head {
                &:first-child {
                    border-radius: 25px 0 0 0;
                }

                &:last-child {
                    border-radius: 0 25px 0 0;
                }
            }

            &__day {
                display: block;
                text-transform: uppercase;
            }

            &__time {
                @extend %transition-all;
                padding: 16px 0;
                border: $white solid 1px;
                cursor: pointer;

                &:hover {
                    background: $primary-color--light;
                }

                &__selected {
                    background: $blue;
                    color: $white;

                    &:hover {
                        background: $blue;
                        color: $white;
                    }
                }
            }

            &__unavailable {
                background: $grey--lighter;

                &:hover {
                    background: $grey--lighter;
                }
            }

            &__foot {
                cursor: pointer;
                
                &:first-child {
                    border-radius: 0 0 0 25px;
                }

                &:last-child {
                    border-radius: 0 0 25px 0;
                }

                [data-toggle="toggle"] {
                    display: none;
                }
            }

            &__arrow {
                display: block;
            }

            &__afternoon {
                @extend %transition-all;

                display: none;
                width: 100%;

                td {
                    height: 0px !important;
                }

                &--active {
                    display: table-row-group;
                }
            }

        }
		
	}
	
}