.form-slider{

    @extend %transition-all;
    position: relative;
    padding-bottom: $gutter--treble;

	@include mode('global'){

        &__slider {

            @extend %transition-all;
            position: relative;
            left: 0px;
            height: 800px;

        }

        &__page {

            border-radius: $gutter;
            padding: $gutter 0;
            text-align: center;
            float: left;

            &__heading {

                margin-bottom: $gutter--double;

            }

            &__field {
                width: 48%;
                border: $blue solid 1px;
                margin-left: 4px;
                margin-right: 4px;
            }

        }

        &__buttons {
            text-align: center;
            position: relative;
            bottom: 0px;
            width: 100%;
            padding: 0 0;

            &__button {
                position: absolute;
                margin: 0 $gutter;
                top: 0px;

                &.back {
                    left: 0px;
                    opacity: 0;
                }

                &.next {
                    right: 0px;
                }
            }
        }
    
    }

}