.hero{
	
	@include mode('global'){
		
		display: flex;
		position: relative;
		width: 100%;
		overflow: hidden;
		color: $white;
		
		&__background{
            
            @extend %one-whole;
			@extend %desk--one-whole;
			
			flex-shrink: 0;
			
			img{
				
                width: 100%;
                
                @include media-query('portable'){
                    width: 1100px;
                    max-width: 1100px;
                    left: 50%;
                    transform: translateX(-10%);
                }
				
            }
            
            
			
		}
		
		&__inner{
			
			position: absolute;
			height: 100%;
			width: 100%;
			
			
			@extend %flex-wrapper--column;
			justify-content: center;
			align-items: center;
			
		}
		
		&__cta{
			
			@extend %grid;
			justify-content: space-between;
			width: $site-max-width;
			max-width: 100%;
			
			@include media-query('desk'){
				margin-top: 0px;
            }
            
            @include media-query('portable'){
                margin-top: -50px;
            }
			
			@include media-query('portable'){
				flex-direction: column;
				text-align: center;
			}
			
			&__content{
				@extend %desk--two-fifths;
				@extend %palm--one-whole;
			}

			&__image{
                margin-top: -100px;
				@extend %desk--three-fifths;
                @extend %is-hidden--portable;

                @include media-query('desk'){
                    margin-top: -80px;
                }

                img {
                    @include media-query('desk'){
                        width: 90%;
                    }
                    
                    @include media-query('desk-wide'){
                       width: 100%;
                    }
                }
			}
			
		}
		
	}
	
	
	&__text{
		
		@extend %desk--eight-tenths;
		@extend %portable--one-whole;
		
		padding: $gutter--midi 0;
		font-size: 18px;
	}

	&__link{
		display: inline-block;
		margin-top: $gutter--mini;
	}
	
}