.hero{
	
	@include mode('global'){

        position: relative;
        width: 100%;

        &--content {

            display: flex;
            color: $white;
            position: relative;

        }

        &--no-content {

            margin-bottom: $gutter--double;

        }


		&__image {

            //height: 650px;
            object-fit: cover;

            img {

                object-fit: cover;
                width: 100%;
                height: auto;

                @include media-query('portable'){
                    width: 150%;
                    max-width: 150%;
                }

            }

        }
		
		
		&__background{
            
            @extend %one-whole;
            @extend %desk--one-whole;
            position: absolute;

            bottom: 0;
			
            flex-shrink: 0;

			&__image{
				
                width: 100%;              
                
            }
            
        }

        &__wave {
			
			position: relative;
            width: 100%;
            
            overflow: hidden;
            margin-top: -120px;
            height: 120px;

            @include media-query('portable'){
                margin-top: -60px;
                height: 100px;
            }

            @include media-query('palm'){
                margin-top: -30px;
                height: 70px;
            }

		}
		
		&__category {
			
			position: relative;
			display: inline;
			@include font-size(16px, true, false, $tight-line-height-ratio);
			padding-left: 5px;
			
			&:after{
				content: "";
				position: absolute;
				bottom: -7px;
				left: 5px;
				width: calc(100% - 5px);
				height: 1px;
				background-color: $white;
			}
			
		}
		
		
		&__inner{
			
			position: relative;
			height: 100%;
			width: 100%;
			
			
			@extend %flex-wrapper--column;
			justify-content: center;
            align-items: center;
            
            @include media-query('portable'){
                height: 420px;
            }
			
		}
		
		&__cta{
			
            @extend %grid;
            @extend %flex-wrapper--row;
			justify-content: center;
			align-items: center;
			width: $site-max-width;
			max-width: 100%;
			
			@include media-query('desk'){
				margin-top: 0px;
            }
            
            @include media-query('portable'){
                margin-top: 0px;
            }
			
			@include media-query('portable'){
				flex-direction: column;
				text-align: center;
			}
			
			&__content{
				@extend %desk--two-fifths;
				@extend %palm--one-whole;
			}

			&__image{
                margin-top: 0px;
				@extend %desk--three-fifths;
                @extend %is-hidden--portable;

                @extend %flex-wrapper;
                justify-content: flex-end;

                text-align: right;

                @include media-query('desk'){
                    margin-top: 0px;
                }

                img {

                    height: 500px;
                    width: auto !important;

                    @include media-query('desk-wide'){
                        height: 650px;
                    }
	                
                }
			}
			
		}
		
	}
	
	
	&__text{
		
		@extend %desk--eight-tenths;
		@extend %portable--one-whole;
		
		padding: $gutter--midi 0;
		font-size: 18px;
	}

	&__link{
		display: inline-block;
		margin-top: $gutter--mini;
	}
	
}