.portfolio-intro {
	
	@include mode('global') {     

        &__body {
			
			position: relative;
            width: 100%;
            
            margin-top: -160px;
			
			&__border {
				
				width: 100%;
				object-fit: cover;
				
			}
			
		}
		
		&__inner {
			
			@extend %flex-wrapper--column;
			
			background-color: $primary-color--light;
			
		}
		
		&__title {
			
			position: relative;
			line-height: 1.2;
			color: $white;
			padding: $gutter--midi calc(40% + 30px) $gutter--midi $gutter;
			width: $site-max-width;
			margin: 0 auto;
			z-index: 20;
			
			&:before {
				content: "";
				position: absolute;
				top: 0;
				right: 40%;
				width: 100vw;
				height: 100%;
				z-index: -10;
				
				border-radius: 0 100px 100px 0;
				background-color: $primary-color;
				box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.14);
			}
			
		}
		
		&__content {
			
			@extend %flex-wrapper;
			flex-wrap: wrap;
			align-items: flex-start;
			padding: $gutter--midi $gutter;
			width: $site-max-width;
			margin: 0 auto;
			
			&__heading {
				@extend %one-whole;
			}
			
			&__tags {
				@extend %one-whole;
				
				padding-top: $gutter;
			}
			
			&__text {
				
				@extend %desk--eight-tenths;
				
				padding-top: $gutter;
				padding-right: $gutter--treble;
				
			}
			
			&__services {
				
				@extend %desk--two-tenths;
				
				padding: $gutter--double $gutter--midi;
				border-radius: $gutter;
				background-color: $primary-background;
				
			}
			
		}
		
	}
	
}