.section-title{
	
	@include mode('global'){
		
		@extend %flex-wrapper--column;
		align-self: center;
		max-width: $site-max-width;
        padding: $gutter--treble $gutter 0;
		text-align: center;
		
		@include media-query('palm'){
            margin-bottom: $gutter--double;
            padding: $gutter $gutter;
		}
		
		&__intro{
			margin-top: $gutter--midi;
		}
		
	}
	
}