.tag-list {

	@include mode('global') {

		> * {
            color: $grey;
            text-decoration: none;
		}
		
		&--white {

			> * {
				color: $white;
			}

		}
		
		span {
			padding: 0 5px;

			&:last-child {
				display: none;
			}
			
        }
        
        &__author {

            color: $primary-color;

        }
		
	}

}