.testimonial{
	
	@include mode('global'){
	
		@extend %grid;
		
		max-width: 980px;
		
		@include media-query('desk'){
			flex-wrap: nowrap;
		}
		
		
		&__decor{
			
			&--left{
				align-self: flex-start;
			}
			
			&--right{
				align-self: flex-end;
				
				@include media-query('portable'){
					margin-left: auto;
				}
			}
			
		}
		
		&__body{
		
			padding: 50px $gutter--double $gutter--midi;
			text-align: center;
			
			@include media-query('portable'){
				padding: 50px 0 0 $gutter;
			}
			
			&__content{
				margin-bottom: $gutter--midi;
			}
			
		}
		
	}
	
}