.timeslots {

	@include mode('global') {

        @extend %flex-wrapper;

        flex-direction: column;
        justify-content: center;
        align-items: center;

		&__item {

            margin: 0 5px $gutter;
            width: 350px;

            &__label {
                
                display: block;
                position: relative;
                padding-left: 0;
                margin-bottom: 12px;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                line-height: 47px;

                &:hover {

                    input ~ .timeslots__item__checkmark {
                        background-color: #ccc;
                    }

                    input ~ .timeslots__item__time {
                        color: $white;
                    }

                    input:checked ~ .timeslots__item__checkmark {
                        background-color: $primary-color;
                    }

                }

            }

            &__input {

                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;

                &:checked ~ .timeslots__item__checkmark {
                    background-color: $primary-color;
                }

                &:checked ~ .timeslots__item__time {
                    color: $white;
                }

                &:checked ~ .timeslots__item__checkmark:after {
                    display: block;
                }

            }

            &__time {

                position: relative;
                z-index: 2;

            }

            &__checkmark {

                @extend %transition-all;
                @extend %box-shadow-secondary;

                position: absolute;
                top: 0;
                left: 0;
                height: 47px;
                border-radius: $gutter;
                border: $blue solid 1px;
                width: 350px;
                background-color: $white;
                z-index: 1;

                &:after {
                    content: "";
                    position: absolute;
                    display: none;
                }

                :after {
                    left: 9px;
                    top: 5px;
                    width: 5px;
                    height: 10px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }

            }

        }
        
	}

}