.timeslots {

	@include mode('global') {

        @extend %flex-wrapper;

        flex-direction: column;
        justify-content: center;
        align-items: center;

		&__item {

            margin: 0 5px $gutter;
            width: 350px;

            &__label {
                
                display: block;
                position: relative;
                padding-left: 0;
                margin-bottom: 12px;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                line-height: 47px;

                &:hover {

                    input ~ .timeslots__item__checkmark {
                        background-color: #ccc;
                    }

                    input ~ .timeslots__item__time {
                        color: $white;
                    }

                    input:checked ~ .timeslots__item__checkmark {
                        background-color: $primary-color;
                    }

                }

            }

            &__input {

                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;

                &:checked ~ .timeslots__item__checkmark {
                    background-color: $primary-color;
                }

                &:checked ~ .timeslots__item__time {
                    color: $white;
                }

                &:checked ~ .timeslots__item__checkmark:after {
                    display: block;
                }

            }

            &__time {

                position: relative;
                z-index: 2;

            }

            &__checkmark {

                @extend %transition-all;
                @extend %box-shadow-secondary;

                position: absolute;
                top: 0;
                left: 0;
                height: 47px;
                border-radius: $gutter;
                border: $blue solid 1px;
                width: 350px;
                background-color: $white;
                z-index: 1;

                &:after {
                    content: "";
                    position: absolute;
                    display: none;
                }

                :after {
                    left: 9px;
                    top: 5px;
                    width: 5px;
                    height: 10px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }

            }

        }


        
	}

}

.tabs {
    width: 100%;
    overflow: hidden;
    position: relative;

    &__input {
        display: none;

        &:checked + label {
            background: #eee;
        }

        &#tab1:checked ~ .line {
            left: 0%;
        }

        &#tab1:checked ~ .tabs__container #c1 {
            opacity: 1;
            display: block;
        }

        &#tab2:checked ~ .line {
            left: 50%;
        }

        &#tab2:checked ~ .tabs__container #c2 {
            opacity: 1;
            display: block;
        }
    }

    &__label {
        @extend %transition-all;

        float: left;
        font-size: 16px;
        height: 36px;
        line-height: 36px;
        width: 50%;
        text-align: center;
        background: #f4f4f4;
        color: #555;
        position: relative;
        cursor: pointer;

        &:after {
            content: "";
            @extend %transition-all;
            height: 2px;
            width: 100%;
            position: absolute;
            display: block;
            background: #ccc;
            bottom: 0;
            opacity: 0;
            left: 0;
        }

        &:hover {
            &:after {
                opacity: 1;
            }
        }
    }

    .line {
        @extend %transition-all;
        position: absolute;
        height: 2px;
        background: $blue;
        width: 50%;
        top: 34px;
        left: 0;
    }

    &__container {
        position: relative;
        top: 34px;
    }

    &__content {
        position: relative;
        padding: $gutter--double;
        width: 100%;
        top: 0;
        opacity: 1;
        display: none;
    }
}
  