.wave-grid {
	
	@include mode('global') {
		
		max-width: $site-max-width;
        margin: 0 auto;
        
        -moz-box-shadow: 0 0 10px #888;
        -webkit-box-shadow: 0 0 10px #888;
        box-shadow: 0 0 10px #888;
		
		&__item {
			@extend %flex-wrapper;
            overflow: hidden;
			
			$curve-height: 200%;
			$curve-width: 290px;
			$curve-offset: -19.55px;
			$curve-percentage: 100%;
						
			
			&:nth-child(even) {
				flex-direction: row-reverse;
				
				.wave-grid__item__body {
                    position: relative;
					
					&:before {
						content: "";
						position: absolute;
						top: -50%;
						right: $curve-offset;
						height: $curve-height;
						width: $curve-width;
						border-radius: $curve-percentage;
                        background: $primary-color--light;
                        
                        -moz-box-shadow: 16px 15px -17px #888;
                        -webkit-box-shadow: 16px 0 15px 17px #888;
                        box-shadow: 16px 0 15px -17px #888;
					}
				}
			}
			
			&:nth-child(odd) {
				
				.wave-grid__item__body {
					&:before {
						content: "";
						position: absolute;
						top: -50%;
						left: $curve-offset;
						height: $curve-height;
						width: $curve-width;
						border-radius: $curve-percentage;
                        background: $primary-color--light;

                        -moz-box-shadow: -16px 0 15px -17px #888;
                        -webkit-box-shadow: -16px 0 15px 17px #888;
                        box-shadow: -16px 0 15px -17px #888;
                    }
				}
            }

            &:nth-child(4n + 1) {
                .wave-grid__item__body {
                    background: $primary-color--light;
                    
					&:before {
                        background: $primary-color--light;
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        background-image: url('../images/clouds-top.svg');
                        background-size: auto 85%;
                        background-repeat: no-repeat;
                        background-position: center;
                        width: 100%;
                        height: 100%;
                        left: 0px;
                    }
                }
            }

            &:nth-child(4n + 2) {
                .wave-grid__item__body {
                    background: $primary-color;
                    color: $white;
                    
					&:before {
                        background: $primary-color;
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        background-image: url('../images/clouds-middle.svg');
                        background-size: auto 95%;
                        background-repeat: no-repeat;
                        background-position: center;
                        width: 100%;
                        height: 100%;
                        left: 0px;
                    }
                }
            }

            &:nth-child(4n + 3) {
                .wave-grid__item__body {
                    background: $primary-color--mid;
                    
					&:before {
                        background: $primary-color--mid;
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        background-image: url('../images/clouds-bottom.svg');
                        background-size: 242px auto;
                        background-repeat: no-repeat;
                        background-position: top 60px right 40px;
                        width: 100%;
                        height: 100%;
                        left: 0px;
                    }
                }
            }
			
			&__image {
				
				@extend %desk--one-half;
				overflow: hidden;
				
				img {
					object-fit: contain;
                    height: 315px;
					max-width: none;
				}
				
			}
			
			&__body {
				
				@extend %desk--one-half;
				
				@extend %flex-wrapper--column;
				justify-content: center;
				
				position: relative;
				padding: $gutter--treble;
				
				&__title {
					position: relative;
					z-index: 10;
				}
				
				&__text {
					padding-top: $gutter;
					position: relative;
					z-index: 10;
				}
				
			}
			
		}
		
	}
	
}