.card-grid{
	
	@include mode('global'){
	
		@extend %grid;
		@extend %grid--full;
		
		
		max-width: $site-max-width;
		margin: 0 auto;
		
		
		&__item{
			@extend %desk--one-third;
			margin-bottom: $gutter;
			padding: 0 $gutter--mini;
			
			@include media-query('portable'){
				padding: 0 $gutter $gutter;
			}
			
		}
		
		&__link{
			width: 100%;
			margin-top: $gutter--treble;
			text-align: center;
		}
	}
	
}