.portfolio-item {
	
	@include mode('global') {
		
		@extend %flex-wrapper--column;
        width: 100%;
        padding-bottom: $gutter--quadruple;
		

        &__wave-grid,
        &__circle-image,
        &__device-image {

            margin-top: $gutter--quadruple;
            margin-bottom: $gutter--quadruple;

        }


        &__cta {
            .cta{
	               
                &__inner{
                    
                    position: relative;

                }
            }
        }
        
		
    }
    
	
}