.circle-image {
	
	@include mode('global') {
		
		display: flex;
        position: relative;
        width: 100%;

        @extend %flex-wrapper--column;
		justify-content: center;
		align-items: center;
        max-height: 600px;

        @include media-query('portable'){
        
            overflow: visible;
            max-height: 2000px;

        }

        &__inner{
            @extend %grid;
            @extend %grid--full;
		    justify-content: space-between;
		    width: 100%;
		    max-width: 100%;
            max-height: 600px;

            overflow: hidden;
            
            @include media-query('portable'){
        
                max-height: 2000px;
    
            }
            
        }

        &__image{
			
            @extend %desk--two-thirds;
            
            img {
                object-fit: cover;
	            object-position: left;
            }
			
		}
		
		&__content{
			
            @extend %desk--one-third;
            @extend %portable--one-whole;

            background: $primary-color--light;

            @extend %flex-wrapper--column;
			justify-content: center;
				
			position: relative;
            padding: $gutter--treble;

            @include media-query('portable'){
        
                padding: $gutter $gutter--double $gutter--treble;
    
            }
            
            
            $curve-height: 150%;
			$curve-width: 950px;
			$curve-offset: -126px;
			$curve-percentage: 100%;


			&__title,
            &__text{
				
                position: relative;
                z-index: 10;
                padding-right: 50px;
                text-align: right;

                @include media-query('portable'){
                    margin-left: 0px;
                    text-align: left;
                }
				
            }

            &__text{
                padding-top: 20px;
            }
            
            &:before {
                content: "";
                position: absolute;
                z-index: 0;
				//top: -50%;
				left: $curve-offset;
				height: $curve-height;
				width: $curve-width;
				border-radius: $curve-percentage;
                background: $primary-color--light;

                -moz-box-shadow: -16px 0 15px -17px #888;
                -webkit-box-shadow: -16px 0 15px -17px #888;
                box-shadow: -16px 0 15px -17px #888;

                @include media-query('portable'){
                    width: 110%;
                    height: 180px;
                    left: 50%;
                    top: -56px;
                    transform: translateX(-50%);

                    -moz-box-shadow: 0px -16px 15px -17px #888;
                    -webkit-box-shadow: 0px -16px 15px -17px #888;
                    box-shadow: 0px -16px 15px -17px #888;
                }
	            
	            @include media-query('palm'){
		            display: none;
	            }
            }
			
		}
		
	}
	
}