.tabs {

    @include mode('global') {
        width: 350px;
        position: relative;
        padding: $gutter 0 0 0;
        margin: 0 auto;

        &__input {
            display: none;

            &:checked + label {
                background: $blue;
                color: $white;
            }

            &#tab1:checked ~ .tabs__container #c1 {
                opacity: 1;
                display: block;
                left: 0px;
                z-index: 2;
            }

            &#tab2:checked ~ .tabs__container #c2 {
                opacity: 1;
                display: block;
                left: -350px;
                z-index: 2;
            }
        }

        &__label {
            
            cursor: pointer;
            padding: 5px 0;
            width: 49%;
            background: $white;
            color: $black;
            
        }

        &__container {
            position: relative;
            top: 34px;
            overflow: hidden;

            &__inner {

                width: 200%;

            }
        }

        &__content {
            position: relative;
            padding: $gutter--double;
            width: 50%;
            top: 0;
            opacity: 1;
            float: left;
            z-index: 1;
        }

    }

}
  