/*------------------------------------*\
    FONT-FACE DECLARATIONS
\*------------------------------------*/
$base-font-family: Helvetica, Arial, sans-serif;

/*------------------------------------*\
    TYPOGRAPHY
\*------------------------------------*/
$base-font-size: 15px;

$base-font-family: $base-font-family;
$heading-font-family: $base-font-family;
$title-font-family: $base-font-family;

$loose-line-height-ratio: 2.2;
$base-line-height-ratio: 1.7;
$tight-line-height-ratio: 1.18;
